.top-right{
  display: inline;
  align-items: center;
  justify-content: right;
  background-color: lightgrey;
}
.text-on-top{
  display: flex;
  justify-content: left;
  align-items: baseline;
  width: 705px;
  height: 48px;
  background-color: lightgrey;
  border-top-right-radius: 15px;
  color: black;
  border-top: lightgrey;
  border-left: lightgrey;
  border-right: lightgrey;
  border-bottom: black solid 2px;
}
:active, :focus, :hover{
  outline: 0;
  outline-offset: 0;
}
