.main-editor {
  display: block;
  align-items: center;
  justify-content: right;
  background-color: lightgrey;
  border-bottom-right-radius: 15px;
}

.main-text {
  display: block;
  justify-content: left;
  align-items: center;
  width: 700px;
  height: 540px;
  background-color: lightgrey;
  color: black;
  border: lightgrey;
}

:active, :focus, :hover{
  outline: 0;
  outline-offset: 0;
}
